<footer>
  <div class="centered">
    <div class="column">
      <div class="title">Questions?</div>
      <ul>
        <li>Help</li>
        <li>Track Order</li>
        <li>Returns</li>
      </ul>
    </div>
    <div class="column">
      <div class="title">
        Where to buy
      </div>
      <ul>
        <li>Store Locator</li>
        <li>Wishlist</li>
        <li>Gift Cards</li>
      </ul>
    </div>
    <div class="column">
      <div class="title">
        about us
      </div>
      <ul>
        <li>Our Story</li>
        <li>Careers</li>
        <li>Affiliates</li>
      </ul>
    </div>
    <div class="column">
      <img src="./assets/img/creditcards.png" alt="Credit Cards">
    </div>
    <div class="column">
      <img src="./assets/img/logo.png" alt="Classy Logo">
      <p>Ecommerce PSD Theme</p>
    </div>
  </div>
</footer>
