#social {
  background-color: #fff;
  height: auto;
  padding: 64px;
  text-align: center;
  h2 {
    margin: 0 auto 30px auto;
    position: relative;
    text-transform: uppercase;
    width: 154px;
    &:before {
      background-color: #000;
      content: '';
      height: 1px;
      left: -110px;
      position: absolute;
      top: 13px;
      width: 100px;
    }

    &:after {
      background-color: #000;
      content: '';
      height: 1px;
      position: absolute;
      right: -110px;
      top: 13px;
      width: 100px;
    }
    grid-column: 1/6;
  }
  .social-icon {
    border: 1px solid #dcdcdb;
    border-radius: 100%;
    display: inline-block;
    height: 85px;
    margin: 0 15px 15px 15px;
    transition: background-color 0.3s;
    width: 85px;
    i {
      color: #dcdcdb;
      font-size: 25px;
      margin-top: 29px;
    }
    &:hover {
      color: #fff;

      &:nth-child(2) {
        background-color: #55acee;
      }
      &:nth-child(3) {
        background-color: #cb2027;
      }
      &:nth-child(4) {
        background-color: #3b5998;
      }
      &:nth-child(5) {
        background-color: #dd4b39;
      }
      &:nth-child(6) {
        background-color: #ff0000;
      }
      &:nth-child(7) {
        background-color: #32506d;
      }
    }
  }
}

@media screen and (max-width: 838px) {
  #social{
    padding: 64px 20px;
  }
  .social-icon {
    margin: 0 7px 7px 7px !important;
  }
}