#small-discount{
	margin-top: 108px;
	width:100%;
	height: 110px;
	background-image: url("/assets/img/small-discount-bg.png");
	background-position: center;
	background-size: cover;
	text-align: center;
	img{
		margin-top: 30px;
	}
}
#product{
	max-width: 1170px;
	margin: 80px auto;
	#product-images{
		width: 50%;
		float: left;
		.small-images{
			width: 70px;
			display: inline-block;
			float: left;
			img{
				width: 70px;
				margin-bottom: 20px;
				&.active{
					box-shadow: 0 0 3px #000;
				}
			}
		}
		.big-image{
			width: calc(100% - 100px);
			display: inline-block;
			margin-left: 25px;
			float: right;
			img{
				width: 100%;
			}
		}
	}
	#product-details{
		width: calc(50%);
		float: left;
		padding-left: 60px;
		h1{
			font-size: 42px;
		}
		.price{
			font-size: 24px;
			.shipping-details{
				font-size: 12px;
				margin: 30px 0;
				display: inline-block;
			}
		}
		.select-container{
			select{
				height: 40px;
				width: 60%;
				border: 2px solid #ccc;
				padding: 10px;
				border-radius: none;
				margin: 0 15px 15px 0;
			}
			button{
				width: calc(40% - 16px);
				height: 40px;
				line-height: 13px;
				background-color: #ccc;
				margin: 0 -2px;
				&:hover{
					background-color: #777;
					cursor: pointer;
				}
			}
		}
		button{
			width: 60%;
			background-color: #33cfdd;
			border: none;
			padding: 15px;
			color: #fff;
			text-align: center;
			margin-bottom: 15px;
			&:hover{
				background-color: darken(#33cfdd, 10%);
				cursor: pointer;
			}
			&.share-btn{
				margin: 0 0 0 15px;
				padding: 14px;
				top: 1px;
				position: relative;
				width: calc(40% - 19px);
				color: #777;
				background-color: transparent;
				img{
					margin-right: 5px;
				}
				&:hover{
					background-color: #ccc;
					cursor: pointer;
				}
			}
		}
	}
}
#sharp-look{
	clear: both;
	margin-top: 100px;
	h1{
		text-align: center;
		font-size: 60px;
		padding-top: 80px;
	}
	p{
		text-align: center;
		max-width: 1170px;
		margin: 0 auto;
		font-size: 14px;
		line-height: 20px;
		
	}
	.grid{
		margin-top: 100px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
		.sharp-look__image{
			background-position: center;
			background-size: cover;
			min-height: 650px;
			&:nth-of-type(1){
				grid-column: 1 / 2;
				grid-row: 1 / 2;
				background-image: url('/assets/img/sharp-look-1.png');
			}
			&:nth-of-type(4){
				grid-column: 2 / 3;
				grid-row: 2 / 3;
				background-image: url('/assets/img/sharp-look-2.png');
			}
		}
		.sharp-look__info{
			padding: 80px 0 0 120px;
			h2{
				font-size: 36px;
				font-weight: 400;
			}
			p{
				font-size: 14px;
				text-align: left;
				line-height: 25px;
				margin: 20px 0;
			}
			.icon-container{
				span{
					display: inline-block;
					&:nth-child(2){
						margin: 0 40px;
					}
					.icon{
						width: 80px;
						height: 80px;
						border: 2px solid rgba(255, 255, 255, 0.5);
						border-radius: 100%;
						p{
							font-size: 12px;
						}
						img{
							margin-top: 19px;
						}
						margin-bottom: 5px;
						text-align: center;
					}
				}
			}
			button{
				margin-top: 20px;
				border: 2px solid #fff;
				color: #fff;
				background-color: transparent;
				padding: 20px;
				width: 270px;
				text-transform: uppercase;
				font-size: 16px;
			}
			&:nth-of-type(2){
				grid-column: 2 / 3;
				grid-row: 1 / 1;
				background-color: #333;
				color: #fff;
			}
			&:nth-of-type(3){
				grid-column: 1 / 2;
				grid-row: 2 / 3;
				background-color: #33d0de;
				color: #fff;
			}
		}
		
	}
}
#big-discount{
	width: 100%;
	height: 400px;
	background-image: url('/assets/img/discount-big.png');
	background-position: center;
	background-size: cover;
}
@media screen and (max-width: 1170px) {
	#sharp-look{
		.grid{
			.sharp-look__info{
				padding: 40px 0 0 60px;
			}
		}
	}
}
@media screen and (max-width: 768px) {
	#product{
		#product-images{
			width: 100%;
			.small-images{
				display: block;
				float:none;
				width: auto;
				text-align: center;
			}
			.big-image{
				width: 80%;
				display: block;
				float:none;
				text-align: center;
				margin: 0 auto;
			}
		}
		#product-details{
			width: 100%;
			text-align: center;
			.select-container{
				select{
					width: 80%;
					margin: 10px 0;
				}
				button{
					width: 80%;
				}
			}
			button{
				width: 80%;
				margin: 10px 0;
			}
		}
	}
	#sharp-look{
		.grid{
			grid-template-columns: 1fr 1fr;
			grid-template-rows: repeat(4, auto);
			.sharp-look__image{
				&:nth-of-type(1){
					grid-column: 1/3;
					grid-row: 1/2;
				}
				&:nth-of-type(4){
					grid-column: 1/3;
					grid-row: 3/4;	
				}
			}
			.sharp-look__info{
				padding: 20px;
				h2{
					text-align: center;
				}
				.icon-container{
					text-align: center;
				}
				button{
					margin: 20px auto 0 auto;
					display: block;
					&:hover{
						background-color: #fff;
						color: #ccc;
						cursor: pointer;
					}
				}
				&:nth-of-type(2){
					grid-column: 1/3;
					grid-row: 2/3;
				}
				&:nth-of-type(3){
					grid-column: 1/3;
					grid-row: 4/5;
				}
			}
		}
	}
}
