<section id="small-discount">
  <img src="./assets/img/50off.png" alt="icon">
</section>
<section id="product">
  <div id="product-images">
    <div class="small-images">
      <img class="active" src="./assets/img/product-img-small-1.png" alt="{{product.name}}">
      <img src="./assets/img/product-img-small-2.png" alt="{{product.name}}">
      <img src="./assets/img/product-img-small-3.png" alt="{{product.name}}">
      <img src="./assets/img/product-img-small-4.png" alt="{{product.name}}">
      <img src="./assets/img/product-img-small-5.png" alt="{{product.name}}">
    </div>
    <div class="big-image">
      <img src="./{{product.img}}" alt="{{product.name}}">
    </div>
  </div>
  <div id="product-details">
    <h1>{{product.name}}</h1>
    <div class="price">
      {{product.price}}
      <div class="shipping-details">
        <img src="./assets/img/icon-globe.png" alt="icon">
        Free shipping Worldwide
      </div>
    </div>
    <div class="select-container">
      <select name="color">
        <option value="">Select Color</option>
      </select>
      <button>
         Size Guide
      </button>
    </div>
    <div class="select-container">
      <select name="size">
        <option value="">Select Size</option>
      </select>
    </div>
    <button>Add to bag</button>
    <button>Save for later</button> 
    <button class="share-btn">
      <img src="./assets/img/icon-share.png" alt="icon">
      Share this product
    </button>
    <app-tabs></app-tabs>
  </div>
</section>
<section id="sharp-look">
  <h1>Sharpen Your Look</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
  <div class="grid">
    <div class="sharp-look__image"></div>
    <div class="sharp-look__info">
      <h2>Extraordinary Design</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
      <div class="icon-container">
        <span>
          <div class="icon">
            <img src="./assets/img/icon-glasses.png" alt="icon">
            <p>Elegant Style</p>
          </div>
        </span>
        <span>
          <div class="icon">
            <img src="./assets/img/icon-coat-hanger.png" alt="icon">
            <p>Elegant Style</p>
          </div>
        </span>
        <span>
          <div class="icon">
            <img src="./assets/img/icon-butterfly.png" alt="icon">
            <p>Elegant Style</p>
          </div>
        </span>
      </div>
      <button>Read more</button>
    </div>
    <div class="sharp-look__info">
      <h2>Extraordinary Design</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
      <div class="icon-container">
        <span>
          <div class="icon">
            <img src="./assets/img/icon-glasses.png" alt="icon">
            <p>Elegant Style</p>
          </div>
        </span>
        <span>
          <div class="icon">
            <img src="./assets/img/icon-coat-hanger.png" alt="icon">
            <p>Elegant Style</p>
          </div>
        </span>
        <span>
          <div class="icon">
            <img src="./assets/img/icon-butterfly.png" alt="icon">
            <p>Elegant Style</p>
          </div>
        </span>
      </div>
      <button>Read more</button>
    </div>
    <div class="sharp-look__image">
    </div>
  </div>
</section>
<section id="big-discount">
  
</section>