<app-slider></app-slider>

<section id="newsletter">
    <div class="centered">
        <div class="men">
            <div class="text">
                <div class="bold">MEN'S</div>
                lookbook
            </div>
        </div>
        <div class="newsletter-signup">
            <form>
                <div class="icon">
                    <img src="assets/img/email-icon.png" alt="icon">
                </div>
                <h2>get our newsletter</h2>
                <p>join our maillist to receive special discounts</p>
                <input type="text" placeholder="ENTER YOUR EMAIL">
                <button>SUBSCRIBE</button>
            </form>
        </div>
        <div class="women">
            <div class="text"><div class="bold">WOMEN'S</div> lookbook</div>
        </div>
    </div>
</section>

<section id="brands">
    <div class="centered">
        <h2>
            Top Brands
        </h2>
        <div class="brands__image">
            <img src="assets/img/pullandbear.png" alt="Brand Image">
        </div>
        <div class="brands__image">
            <img src="assets/img/michael-kors.png" alt="Brand Image">
        </div>
        <div class="brands__image">
            <img src="assets/img/mango.png" alt="Brand Image">
        </div>
        <div class="brands__image">
            <img src="assets/img/missguided.png" alt="Brand Image">
        </div>
        <div class="brands__image">
            <img src="assets/img/monki.png" alt="Brand Image">
        </div>
    </div>
</section>

<section id="banners">
    <div class="centered">
        <div class="banner__banner--large">
            <img src="assets/img/banner-large.png" alt="Large Banner">
        </div>
        <div class="banner__banner--small">
            <img src="assets/img/banner-small-1.png" alt="Small banner 1">
        </div>
        <div class="banner__banner--small">
            <img src="assets/img/banner-small-2.png" alt="Small banner 2">
        </div>
    </div>
</section>
<app-products></app-products>
<section id="discount">
    <img src="assets/img/discount_image.png" alt="Discount image">
</section>
<section id="quote">
    <img src="assets/img/quote_image.png" alt="Jane Smith">
    <h2>Jane Smith</h2>
    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
</section>