#hero{
	width: 100%;
	height: 575px;
	background: url('../../assets/img/slider-image-2.png') center;
	padding-top: 160px;
	margin-bottom: 80px;
	h2{
		font-size: 64px;
		color: #fff;
		text-align: center;
		text-transform: lowercase;
	}
	h1{
		text-transform: uppercase;
		font-size: 100px;
		color: #fff;
		text-align: center;
	}
	.btn{
		width: 220px;
		margin: 20px auto 0 auto;
		padding: 20px;
		border: 1px solid #fff;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 16px;
		color: #fff;
		text-align: center;
		&:hover{
			background-color: #fff;
			color: #ccc;
			cursor: pointer;
		}
	}
}
#newsletter{
	background: #33d0de;
	width: 100%;
	height: 156px;
	padding: 55px;
	text-align: center;
	input[type="email"]{
		width: 265px;
		border: 1px solid #fff;
		color: #fff;
		background-color: #33d0de;
		padding: 15px;
		text-transform: uppercase;
		margin: 0 7px;
		text-align: center;
		outline: none;
		&::-webkit-input-placeholder {
			color: #fff;
		}
		&:-moz-placeholder { 
			color: #fff;
		}
		&::-moz-placeholder { 
			color: #fff;
		}
		&:-ms-input-placeholder {
			color: #fff;
		}
		&::-ms-input-placeholder {
			color: #fff;
		}
	}
	button{
		width: 265px;
		background-color: #fff;
		color: #000;
		border: none;
		padding: 15px;
		text-transform: uppercase;
		margin: 0 7px;
		text-align: center;
		&:hover{
			background-color: #ccc;
			cursor: pointer;
		}
	}
}
@media screen and (max-width: 1170px) {
	#hero{
		padding-top: 100px;
		height: 400px;
		h2{
			font-size: 48px;
		}
		h1{
			font-size: 64px;
		}
	}
}
@media screen and (max-width: 768px) {
	#hero{
		height: 280px;
		padding-top: 60px;
		h2{
			font-size: 32px;
		}
		h1{
			font-size: 48px;
		}
	}
}
@media screen and (max-width: 672px) {
	#newsletter{
		height: auto;
		padding: 30px;
		input[type="email"]{
			margin-bottom: 10px;
		}
	}
}
@media screen and (max-width: 500px) {
	#hero{
		display: none;
	}
}
