<div id="slider">
  <div id="slide-container">
    <div [ngClass]="{'current': currentSlide === 1}" class="slide">
      <button>Learn more about great deals</button>
    </div>
    <div [ngClass]="{'current': currentSlide === 2}" class="slide"></div>
  </div>
  <div id="controls">
    <div (click)=prevSlide() class="btn prev">
      <img src="assets/img/slider-arrow.png" alt="Slider arrow prev">
    </div>
    <div (click)=nextSlide() class="btn next">
      <img src="assets/img/slider-arrow.png" alt="Slider arrow next">
    </div>
  </div>
  <div id="indicators">
    <div (click)=changeSlide(1) [ngClass]="{'current': currentSlide === 1}" class="indicator"></div>
    <div (click)=changeSlide(2) [ngClass]="{'current': currentSlide === 2}" class="indicator"></div>
  </div>
  <div id="timer">
    <div [ngStyle]="{'width': progress + '%'} " id="timer__progress">
    </div>  
  </div>  
</div>